{% extends "base.html" %}

{%block title%}Care Provider Dashboard{%endblock%}

{%- block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/helpful.css') }}">
<script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.min.js"></script>
{%- endblock %}

{%block main_content%}
    <div class="row">
      <a href="/dashboard/careprovider" class="waves-effect waves-light btn col s4">Care</a>
      <a href="/careprovider/careprovider_review" class="waves-effect waves-light btn col s4 cyan darken-3">Review</a>
      <a class="waves-effect waves-light btn col s4">Manage</a>
    </div>

  <style>
  .chart div {
    font: 10px sans-serif;
    background-color: #9B9B9B;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
  }

</style>

<h3>Care Provider Review</h3>

<div class="chart">
  <div style="width: 350px;">3.5</div>
  <div style="width: 440px;">4.4</div>
  <div style="width: 480px;">4.8</div>
  <div style="width: 210px;">2.1</div>
  <div style="width: 390px;">3.9</div>
</div>

<h3>Age Groups Review</h3>



    <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
    .tg .tg-yw4l{vertical-align:top}
    </style>

{#   <script>
    var data = [4, 8, 15, 16, 23, 42];

    d3.select(".chart")
  .selectAll("div")
    .data(data)
  .enter().append("div")
    .style("width", function(d) { return d * 10 + "px"; })
    .text(function(d) { return d; });
  </script> 
 #}

  <script>

var width = 960,
    height = 500,
    radius = Math.min(width, height) / 2;

var color = d3.scale.ordinal()
    .range(["#B4F2E4", "#6AF0D2", "#45D4B4", "#185441", "#53BDA5", "#327062", "#7CD4CC"]);

var arc = d3.svg.arc()
    .outerRadius(radius - 10)
    .innerRadius(0);

var labelArc = d3.svg.arc()
    .outerRadius(radius - 40)
    .innerRadius(radius - 40);

var pie = d3.layout.pie()
    .sort(null)
    .value(function(d) { return d.population; });

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height)
  .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

d3.csv(href="{{ url_for('static', filename='csv/age_data.csv') }}", type, function(error, data) {
  if (error) throw error;

  var g = svg.selectAll(".arc")
      .data(pie(data))
    .enter().append("g")
      .attr("class", "arc");

  g.append("path")
      .attr("d", arc)
      .style("fill", function(d) { return color(d.data.age); });

  g.append("text")
      .attr("transform", function(d) { return "translate(" + labelArc.centroid(d) + ")"; })
      .attr("dy", ".35em")
      .text(function(d) { return d.data.age; });
});

function type(d) {
  d.population = +d.population;
  return d;
}

</script>

{%endblock%}
