{% extends "base.html" %}

{%block title%}Care Provider Register{%endblock%}

{%- block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/helpful.css') }}">
{%- endblock %}

{%block main_content%}
  <h3>Register as a Care Provider</h3>
  <div class="row">
    <form class="col s12" action="/register/careprovider" method="POST">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" name="firstname" type="text" class="validate">
          <label for="icon_prefix">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="icon_telephone" name="lastname" type="text" class="validate">
          <label for="icon_telephone">Last Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">email</i>
          <input id="icon_prefix" name="email" type="text" class="validate">
          <label for="icon_prefix">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">vpn_key</i>
          <input id="password" name="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>

      <button class="btn waves-effect neighbor-green" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
        

{%endblock%}