{% extends "base.html" %}

{%block title%}Care Provider Dashboard{%endblock%}

{%- block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/helpful.css') }}">
{%- endblock %}

{%block main_content%}
    <div class="row">
      <a href="/dashboard/careprovider" class="waves-effect waves-light btn col s4  cyan darken-3">Care</a>
      <a href="/careprovider/careprovider_review" class="waves-effect waves-light btn col s4">Review</a>
      <a class="waves-effect waves-light btn col s4">Manage</a>
    </div>

  <h3>Actions</h3>
    <ul class="collection">
      <li class="collection-item"><a href="/register/homeless">Register for help</a></li>
      <li class="collection-item"><a href="/rateCareProvider">Rate Care Provider</a></li>
      <li class="collection-item"><a href="/ratings">See Care Provider Ratings</a></li>
    </ul>

  <style>
  .chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
  }

</style>

<div class="chart">
  <div style="width: 40px;">4</div>
  <div style="width: 80px;">8</div>
  <div style="width: 150px;">15</div>
  <div style="width: 160px;">16</div>
  <div style="width: 230px;">23</div>
  <div style="width: 420px;">42</div>
</div>

  <h3>Texts for Service</h3>

  <div class="row">
    {% for n in range(2) %}
        <div class="col s12 m3">
          <div class="card  blue-grey lighten-3">
            <div class="card-content white-text">
              <span class="card-title">(142) 163-7254</span>
              <p>Hi, here is some text.</p>
            </div>
            <div class="card-action">
              <a class="blue-text text-darken-2" href="#">Dismiss</a>
            </div>
          </div>
        </div>
    {% endfor %}
  </div>

  <h3>Dashboard</h3>

    <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
    .tg .tg-yw4l{vertical-align:top}
    </style>
    <table class="tg">
      <tr>
        <strong><th class="tg-yw4l">Client ID</th></strong>
        <strong><th class="tg-yw4l">First Name</th></strong>
        <strong><th class="tg-yw4l">Last Name</th></strong>
        <strong><th class="tg-yw4l">Age</th></strong>
        <strong><th class="tg-yw4l">Gender</th></strong>
        <strong><th class="tg-yw4l">Last Visit</th></strong>
        <strong><th class="tg-yw4l">Last Update</th></strong>
      </tr>
      {% for client in clients %}
        <tr>
          <td>{{ client.id }}</td>
          <td>{{ client.firstname }}</td>
          <td>{{ client.lastname }}</td>
          <td>{{ client.age }}</td>
          <td>{{ client.gender }}</td>
          <td>{{ client.lastvisit }}</td>
          <td>{{ client.lastupdate }}</td>
        </tr>
      {% endfor %}
    </table>


  <script>
    var data = [4, 8, 15, 16, 23, 42];

    d3.select(".chart")
  .selectAll("div")
    .data(data)
  .enter().append("div")
    .style("width", function(d) { return d * 10 + "px"; })
    .text(function(d) { return d; });
  </script>  

{%endblock%}
