{% extends "base.html" %}

{%block title%}Index!{%endblock%}

{%- block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/helpful.css') }}">
{%- endblock %}

{%block main_content%}
  <h3>Login</h3>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">email</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">vpn_key</i>
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>

      <button class="btn waves-effect neighbor-green" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
      <h6>Don't have an account? </h6>
      <a href="../register/helpful" class="brand-logo neighbor-green-text">Register</a>
  </div>
        

{%endblock%}
