.brand-logo {
	margin-left: 20px;
	font-size: 38px !important;
}

.neighbor-green {
	background-color: #45D4B4 
}

.neighbor-lightgrey {
	background-color: #9B9B9B
}

.neighbor-darkgrey {
	background-color: #9B9B9B
}

.neighbor-green-text {
	color: #4A4A4A 
}

body {
    background-image: url("https://pp.vk.me/c626427/v626427592/35285/K7b7dEGgxWw.jpg");
    background-size: cover;
    min-height: 100vh;
    color: white;
    font-family: GothamNarrow-Light;
}

@font-face {
    font-family: GothamNarrow-Light;
    src: url(/static/fonts/GothamNarrow-Light.otf);
}

@font-face {
    font-family: gotham-bold;
    src: url(Gotham Narrow Bold.otf);
}
