.mission {
	margin-top: 116px;
}

.main-navigation {
    margin-top: 72px;
}

.main-button {
	width: 220px;
}

.top-bar {
	background-color: #45D4B4;
	height: 60px; 
	opacity: 0.85;
	padding: 0;
    height: 80px;
    border: 1 px solid;
    margin: 0 auto;
    position: fixed;
  	left: 0;
  	right:0;
  	line-height: -40px;
}

.bar-title {
	padding-top: 20px;
}

.chart {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
