{% extends "base.html" %}

{%block title%}Home{%endblock%}

{%- block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{%- endblock %}

{%block main_content%}
	<div class = "background-image">
   		<div class = "card transparent z-depth-5">
   		</div>
	</div>

  <h1 class="center-align mission">Harness human compassion.</h1>
	<h3 class="center-align ">Become a neighbor.</h3>

    <div class="section main-navigation">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4 center-align">
          <div class="icon-block">
			<a href="../login/helpful" class="waves-effect neighbor-green btn-large main-button"><i class="material-icons left">perm_identity</i>helpful</a>
            <h5 class="light front-text-nbr">Each one of us has a unique story worthy of sharing, regardless of where we sleep at night. Learn more about how you can meet, converse, and work with neighbors.</h5>
          </div>
        </div>

        <div class="col s12 m4 center-align">
          <div class="icon-block">
			<a href="../login/careprovider" class="waves-effect neighbor-green btn-large main-button"><i class="material-icons left">language</i>care provider</a>
            <h5 class="light front-text-nbr">Learn more about how our care provider management system can help your organization be more efficient and effective in assisting your homeless neighbors.</h5>
          </div>
        </div>

        <div class="col s12 m4 center-align">
          <div class="icon-block">
            <a href="../login/homeless" class="waves-effect neighbor-green btn-large main-button"><i class="material-icons left">perm_identity</i>homeless</a>
            <h5 class="light front-text-nbr">We believe every neighbor has a place in our community. Click here if you are experiencing instability in your life, so we can connect you with neighbors ready to help.</h5>
          </div>
        </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

{%endblock%}
