{% extends "base.html" %}

{%block title%}Index!{%endblock%}

{%- block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{%- endblock %}

{%block main_content%}


<h3 class="top-bar center-align bar-title">Tables</h3>


 <div class="container">
    <div class="row">
      <div class="col s2">Clients</div>
      <div class="col s7"></div>
      <div class="col s3">View <odel</div>
    </div>
  </div>

{%endblock%}