<!DOCTYPE html>
<html{% block html_attribs %} lang="en"{% endblock %}>
{%- block html %}
  <head>
  {%- block head %}
    <meta charset="utf-8">
    <title>{% block title %}{{title}}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="css/index.css?v={{ range(1,500000) | random }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/header.css') }}">

    <script   src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {%- block style %}
    {%- endblock %}
    
    <script>
    $(document).ready(function(){
      $(".button-collapse").sideNav();
    });
    </script>

  {%- endblock %}
  </head>

  <body>
  {%- block body %}
        <nav class="transparent">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">neighbor</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">toc</i></a>
        </div>
      </nav>

    {%- block body_content %}
    {%- endblock %}

  {%- endblock %}
  </body>
{%- endblock %}
</html>
